DB_HOST=db
DB_PORT=1433
DB_NAME=MesaDeAyuda
DB_USER=sa
DB_PASSWORD=Yung_beef_420
AUTH_SERVICE=http://auth-service:5000
TICKET_SERVICE=http://ticket-service:5000
MESSAGE_SERVICE=http://message-service:5000
NOTIFICATION_SERVICE=http://notification-service:5000
FRONTEND_URL=http://localhost:5173
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=example@gmail.com
SMTP_PASSWORD=password
SMTP_USE_TLS=true
FTP_HOST=ipaddress
FTP_PORT=port
FTP_USER=user
FTP_PASSWORD=password
FTP_FOLDER=/archivos
#REVISAR INTEGRACION CON GRAPH
#GRAPH_CLIENT_ID=
#GRAPH_TENANT_ID=
#GRAPH_CLIENT_SECRET=