DB_HOST=db
DB_PORT=1433
DB_NAME=MesaDeAyuda
DB_USER=user
DB_PASSWORD=password
AUTH_SERVICE=http://auth-service:5000
TICKET_SERVICE=http://ticket-service:5000
MESSAGE_SERVICE=http://message-service:5000
FRONTEND_URL=http://localhost:5173
UPLOAD_FOLDER=/app/uploads
SMTP_HOST=smtp-mail.outlook.com
SMTP_PORT=587
SMTP_USER=mail@outlook.com
SMTP_PASSWORD=password
SMTP_USE_TLS=true
#REVISAR INTEGRACION CON GRAPH
#GRAPH_CLIENT_ID=REVISAR
#GRAPH_TENANT_ID=REVISAR
#GRAPH_CLIENT_SECRET=REVISAR