:root {
  --text: #64748b;
  --text-h: #0f172a;

  --bg: #f8fafc;
  --border: #e2e8f0;

  --code-bg: #eff6ff;

  --accent: #2563eb;
  --accent-bg: rgba(37, 99, 235, 0.10);
  --accent-border: rgba(37, 99, 235, 0.50);

  --social-bg: rgba(239, 246, 255, 0.7);

  --shadow:
    rgba(15, 23, 42, 0.08) 0 10px 15px -3px,
    rgba(15, 23, 42, 0.04) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;

  color-scheme: light;

  color: var(--text);
  background: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}


/*BODY*/

body {
  margin: 0;
}


/*ROOT*/

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}


/*TITULOS*/

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;

  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}


/*TEXTO*/

p {
  margin: 0;
}

/*CODE / CONTADORES*/

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}


/*ELEMENTOS INTERACTIVOS*/

button {
  font-family: var(--sans);
}


/*SELECCIÓN DE TEXTO*/

::selection {
  background: #bfdbfe;
  color: #1e3a8a;
}


/*SCROLLBAR*/

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}